@tailwind base;
@tailwind components;
@tailwind utilities;

/* source-code-pro-regular - cyrillic_latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: url('/src/resources/fonts/source-code-pro-v22-cyrillic_latin-regular.woff2')
			format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('/src/resources/fonts/source-code-pro-v22-cyrillic_latin-regular.woff')
			format('woff');
	/* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-code-pro-500 - cyrillic_latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 500;
	src: url('/src/resources/fonts/source-code-pro-v22-cyrillic_latin-500.woff2')
			format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('/src/resources/fonts/source-code-pro-v22-cyrillic_latin-500.woff')
			format('woff');
	/* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-code-pro-600 - cyrillic_latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 600;
	src: url('/src/resources/fonts/source-code-pro-v22-cyrillic_latin-600.woff2')
			format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('/src/resources/fonts/source-code-pro-v22-cyrillic_latin-600.woff')
			format('woff');
	/* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	font-family: 'Source Code Pro';
}
